@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta scroll horizontal */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}
