@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta scroll horizontal */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

@keyframes bounce-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  40% {
    opacity: 1;
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bounce-up-once {
  animation: bounce-up 1s cubic-bezier(0.2, 0.8, 0.4, 1);
  display: inline-block;
}
